
<div class="my-4 card">
<div class="py-3 px-4 font-weight-bold color-grey-7 background-grey-3">PDF DOWNLOADS</div>

<div class="list-group">
<div class="w-100 p-2"><a class="list-group-item list-group-item-action flex-column align-items-start" href="/themes/bootstrap4/assets/art-tour-brochure-2018.pdf" target="_blank"><small class="font-weight-bold">Art Tour Brouchure 2018</small></a></div>
</div>
</div>

<div class="my-4 card">
<div class="py-3 px-4 font-weight-bold color-grey-7 background-grey-3">PDF DOWNLOADS</div>

<div class="list-group">
<div class="w-100 p-2"><a class="list-group-item list-group-item-action flex-column align-items-start" href="/themes/bootstrap4/assets/loading-dock-map.pdf" target="_blank"><small class="font-weight-bold">Loading Dock Map</small></a></div>
<div class="w-100 p-2"><a class="list-group-item list-group-item-action flex-column align-items-start" href="/themes/bootstrap4/assets/motor-coach-and-shuttle-bus-loading.pdf" target="_blank"><small class="font-weight-bold">Motor Coach &amp; Shuttle Bus Loading</small></a></div>
<div class="w-100 p-2"><a class="list-group-item list-group-item-action flex-column align-items-start" href="/themes/bootstrap4/assets/wscc-north-hand-carried-freight-map.pdf" target="_blank"><small class="font-weight-bold">WSCC North Hand Carried Freight Map</small></a></div>
<div class="w-100 p-2"><a class="list-group-item list-group-item-action flex-column align-items-start" href="/themes/bootstrap4/assets/wscc-south-hand-carried-freight-map.pdf" target="_blank"><small class="font-weight-bold">WSCC South Hand Carried Freight Map</small></a></div>

</div>
</div>






  <h3 class="h1-responsive font-weight-bold my-5">Careers</h3>
  <p>
    Our employees are our most important asset. It takes a wide variety of skills to provide the quality of service we deliver to our local, national and international guests. We are proud of our diverse workforce and we support the success of each one of our employees. If you are committed to excellence in whatever you do and enjoy a fast-paced, team-oriented environment, we encourage you to apply for a position.
  </p>
  <p>
    If accommodations are required either to complete the application process and/or attend an interview, please contact the Human Resources Department at 206-694-5000.
  </p>
  <p>
    <i>Washington State Convention Center is committed to the policy of equal employment opportunity and nondiscrimination on the basis of race, creed, color, national origin, sex, marital status, sexual preference, orientation, gender identity, genetic information, pregnancy, age, religion, veteran status, military status, disability, or any other status protected by law.</i>
  </p>

  <h6 class="font-weight-bold dark-grey-text">Application Process</h6>
  <ul class="mb-5">
    <li class="py-2">Applications are only accepted for current job openings.</li>
    <li class="py-2">Application forms must be filled in and submitted via e-mail, mail, or fax. Resumes may not be substituted for applications.</li>
    <li class="py-2">E-mail applications can be submitted to jobs@wscc.com</li>
    <li class="py-2">Application forms are in PDF and require Adobe Acrobat Reader. You may also pick up an application in person at our Service Entrance at 9th & Pike Street in downtown Seattle (Monday through Friday, 8:00 a.m. to 5:00 p.m.). You may also call the WSCC job line is available at (206) 694-5039.</li>
    <li class="py-2">Resumes may not be substituted for applications.</li>
  </ul>

  <h6 class="font-weight-bold dark-grey-text mt-5 mb-3">FULL-TIME</h6>
  <p><font class="font-weight-bold">Sales Coordinator</font><br />
    Salary $40,000 per year. The Sales Coordinator will provide professional administrative sales and services support assisting the department in promotion, booking and contracting with excellent customer service.<br />

Required Qualifications: Bachelor’s degree in Sales, Business, Marketing or related subject preferred. Minimum of one (1) years of administrative experience, preferably in hospitality and convention sales or related area. Equivalent combinations of education and experience may be considered. Strong proficiency in Microsoft® Office and other related sales and space management databases.
    <br />
    <a href="/themes/bootstrap4/assets/job-posting/full-sales-coordinator.pdf" target="_blank" class="color-blue-9">Apply for this position</a>
  </p>
  <p><font class="font-weight-bold">Security Officer</font><br />
    Hourly Wage $22.33. Security Officers are responsible for ensuring the safety and security of the Convention Center facility, property and occupants through security patrol and the monitoring of security systems. The Officer must also provide information and respond to Convention Center guests in a customer service oriented manner. This position requires a high school diploma or GED and at least two years of security officer experience.
    <br />
    <a href="/themes/bootstrap4/assets/job-posting/full-security-officer.pdf" target="_blank" class="color-blue-9">Apply for this position</a>
  </p>


  <h6 class="font-weight-bold dark-grey-text my-3">ON-CALL</h6>
  <p><font class="font-weight-bold">Security Officer On-Call</font><br />
    Hourly Wage $21.42. Security Officers are responsible for ensuring the safety and security of the Convention Center facility, property and occupants through security patrol and the monitoring of security systems. The Officer must also provide information and respond to Convention Center guests in a customer service oriented manner. This position requires a high school diploma or GED and at least two years of security officer experience. May work 0-40 hours per week and must be available flexible hours including weekends, evenings and nights.
    <br/>
    <a href="/themes/bootstrap4/assets/job-posting/oc-security-officer.pdf" target="_blank" class="color-blue-9">Apply for this position</a>
  </p>

<p class="mb-5"></p>



<!--div class="container">
  <div class="card">

    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <div class="card-body">

      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Button</a>

    </div>

  </div>
</div -->
